.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #cd191e;
  color: white;
}

.btn-success {
  background-color: #2f9e41;
  color: white;
}

.btn-dark {
  background-color: #000000;
  color: white;
}

.btn-danger {
  background-color: #cd191e;
  color: white;
}

.btn:hover {
  opacity: 0.85;
}